body {
  background-color: rgb(59,154,178);
  text-align: center;
}

#main-map {
  height: 350px;
  width: 600px;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "futura";
  font-size: 60px;
  text-align: center;
  color: rgb(235,230,42);
  margin: 0;
}

h2 {
  padding-top: 0px;
  font-family: "futura";
  text-align: center;
  color: rgb(235,230,42);
  margin: 0;
}

hr {
  border: 0px;
  border-color: rgb(59,154,178);
}
